.DisplaySectionAdvert {
    margin-top: 40px;
    position: absolute;
    margin-left: 67%;
    z-index: 1;
    height: 10cm;
    display: block;
    width: 11.5cm;
}

.popupbody {
    display: block;
}

.displaySection {
    /* border: 1px solid black; */
    display: grid;
    place-items: center;
    /* margin-top: 20px; */
    height: 88vh;
    width: 12cm;
    background-color: silver;
    position: absolute;
    /* position: sticky; */
    right: 0;
    top: 75px;
    overflow: auto;
}

.p0001 {
    margin-left: 10px;
    display: none;
}

.fontName {
    border: 1px solid gray;
    padding: 3px;
    margin-left: 10px;
    font-size: 1.5rem;
}

.closebutton {
    margin-left: 95%;
    font-size: 30px;
    background-color: gainsboro;
    cursor: pointer;
    display: none;
}

.list {
    padding-left: 0px;
}

.copyxsharebutton {
    float: right;
    margin-right: 10%;
    margin-top: 25px;
    position: relative;
}

.copyxsharebutton>span {
    margin: 10px;
}

.aboutsection {
    margin-left: 10px;

}

.abal {
    font-size: 1rem;
}

.thelink {
    margin-left: 10px;
}

.aboutsection>div>h2 {
    color: grey;
}

.innerview {
    /* width: 11cm; */
    /* height: 2cm; */
    font-size: 1.5rem;
    position: relative;
    padding: 0;
    margin-top: -20px;
    /* margin-left: 10px; */
    /* border: 1px solid rgb(12, 10, 10) ; */
}

.p0001>ul>button {
    padding: 5px;
    font-size: 1rem;
}

.p0001>ul>button>a {
    text-decoration: none;
    color: black;
}

.PreviewSection>ul {
    margin-left: -45px;
    font-size: 1.3rem;
}

#typesofthefont,
.previewdownload {
    font-size: 1rem;
    /* padding: 8px; */
}

/* :hover{border: 1px solid black;} */
.showtextdiv {
    width: 11cm;
    height: 10cm;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(228, 168, 168);
    font-size: 1rem;
}

.Previewheading {
    padding: 10px;
    background-color: rgb(228, 168, 168);
    font-size: 1rem;
    font-family: poppins;
    display: inline-block;
}

.withaboutandliscence {
    font-size: 1rem;
}

.PreviewSectionAd {
    margin-top: 10px;
    width: 10cm;
    height: 120px;
}
#typesHenrydiddiot{
    font-size: 1rem;
    padding: 5px;
}